.logoCotainer {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.textColor {
  color: var(--bc-text);
}

.textColorFooter {
  color: var(--bc-background);
}

.logo {
  font-size: 2.5rem;
}

.titleContainer {
  line-height: 1;
}

.subTitle {
  font-size: 0.9rem;
}

.accent {
  color: var(--bc-primary);
}

.title {
  font-size: 1.2rem;
}

.accentFooter {
  color: var(--bc-background);
}
