.container {
  background: var(--gra-dark);
  box-shadow: var(--shadow-big);
  border-radius: var(--space-ss);
}
.textContainer {
  padding: var(--space-ll);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
.textBorder {
  height: 2px;
  background: var(--gra-primary);
}
.description {
  color: var(--bc-detail);
}
.subEventContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.eventButton {
  position: relative;
  background: var(--gra-grass);
  border: solid 1px var(--bc-grass);
  overflow: hidden;
  box-shadow: var(--shadow-regular);
  border-radius: var(--space-ss);
  transition: 0.3s;
}

.eventButton:hover {
  border: solid 1px var(--bc-primary);
  box-shadow: 0px 0px 10px var(--bc-primary);
}

.eventButtonText {
  position: relative;
  display: flex;
  padding: var(--space-m) var(--space-m);
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.buttonBack {
  position: absolute;
  background: var(--gra-primary);
  width: var(--space-lll);
  height: 100%;
  right: 0;
  clip-path: polygon(var(--space-l) 0%, 100% 0, 100% 100%, 0% 100%);
  transition: width 0.3s;
}

.eventButton:hover .buttonBack {
  width: calc(100% + var(--space-m));
}

.subEventTitle {
  font-size: 1.2rem;
  transition: color 0.3s;
}

.eventButton:hover .subEventTitle {
  color: var(--bc-background);
}

@media (max-width: 768px) {
  .textContainer {
    padding: var(--space-m);
  }

  .eventButtonText {
    padding: var(--space-s) var(--space-l);
  }

  .subEventContainer {
    gap: var(--space-s);
  }
}

@media (max-width: 480px) {
  .eventButtonText {
    padding: var(--space-s);
  }

  .subEventTitle {
    font-size: 1rem;
  }
}
