.topContainer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-ll);
}

.topTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.topText p {
  line-height: 1;
  font-size: 4.5rem;
}

.topBorder {
  height: 1px;
  background-color: var(--bc-primary);
  width: 2000%;
  align-self: end;
}

.topPointersList {
  padding-right: var(--space-m);
}

.topPointersList li {
  margin-left: 1.5rem;
  color: var(--bc-detail);
}

.topApplyButton {
  flex: 1;
  flex-shrink: 0;
  align-self: center;
}

.topApplyButtonText {
  background-color: var(--bc-background);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  color: var(--bc-primary);
  padding: var(--space-lll) 0;
}

.topApplyButtonText p {
  font-size: 2rem;
}

.applicationUnitsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-top: var(--space-ll);
}
