.container {
  flex: 1;
}

.titleSet {
  position: relative;
  padding: var(--space-ll);
  min-height: var(--space-lll);
  z-index: 2;
}
.content {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--bc-background),
    var(--bc-primary)
  );
  opacity: 0.6;
}
