.container {
  --container-margin: var(--space-ll);
  display: grid;
}

.containerR {
  /* margin-left: var(--container-margin); */
  grid-template-areas:
    "border card"
    ". subEvents";
}

.containerL {
  /* margin-right: var(--container-margin); */
  grid-template-areas:
    "card border"
    "subEvents .";
}

.programBorderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--space-lll);
}

.programBorderR,
.programBorderL {
  position: absolute;
  grid-area: border;
  height: 1px;
  background-color: var(--bc-border);
}

.programBorderL {
  right: 0;
}

.programBorderR {
  left: 0;
}

.cardWrapper {
  grid-area: card;
  position: relative;
}

.time {
  --font-size: 2rem;

  position: relative;
  position: absolute;
  font-size: var(--font-size);
  top: calc(var(--font-size) * (-1.2));
  color: var(--bc-detail);
}

.timeBack {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bc-detail);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  min-height: 200px;
  box-shadow: var(--shadow-big);
  background: var(--gra-section);
  overflow: hidden;
  padding-left: calc(var(--space-lll) * 1.2);
  border: solid 1px var(--bc-grass);
  border-radius: var(--space-ss);
  transition: transform 0.3s;
}

.cardWrapper:hover .card {
  transform: translateY(var(--space-ss));
}

.cardBack {
  position: absolute;
  width: var(--space-m);
  aspect-ratio: 1/1;
  top: 0;
  right: 0;
  background: var(--gra-primary);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  transition: width 0.3s;
}

.cardWrapper:hover .cardBack {
  width: var(--space-l);
}

.num {
  position: absolute;
  left: 0px;
  bottom: calc(-1 * var(--space-l));
  font-size: 12rem;
  opacity: 0.1;
  line-height: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-m) 0;
}

.borderWrapper {
  position: relative;
}

.arrow {
  position: absolute;
  right: calc(-1 * var(--space-m));
  bottom: var(--space-s);
  color: var(--bc-detail);
  transition: right 0.3s;
}

.cardWrapper:hover .arrow {
  right: var(--space-s);
}

.border {
  height: 1px;
  background-color: var(--bc-border);
}

.description {
  color: var(--bc-detail);
  padding-right: var(--space-m);
}

.subEventsContainer {
  grid-area: subEvents;
  margin-top: var(--space-ss);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-ss);
}

@media (max-width: 1200px) {
  .programBorderWrapper {
    min-width: var(--space-l);
  }
}

@media (max-width: 1080px) {
  .time {
    position: relative;
    top: 0;
  }

  .cardWrapper {
    margin: var(--space-m) 0;
    max-width: 500px;
  }

  .programBorderWrapper {
    min-width: var(--space-m);
  }

  .containerL,
  .containerR {
    grid-template-areas:
      "border card"
      ". subEvents ";
  }
}

@media (max-width: 720px) {
  .card {
    padding-left: var(--space-l);
  }

  .description {
    padding-right: var(--space-s);
  }
}
