.container {
  --container-margin: var(--space-ll);
  display: grid;
}

.containerR {
  /* margin-left: var(--container-margin); */
  grid-template-areas:
    "border card"
    ". subEvents";
}

.containerL {
  /* margin-right: var(--container-margin); */
  grid-template-areas:
    "card border"
    "subEvents .";
}

.programBorderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.programBorder {
  grid-area: border;
  min-width: var(--space-lll);
  height: 1px;
  background-color: var(--bc-border);
}

.cardWrapper {
  grid-area: card;
  position: relative;
}

.time {
  --font-size: 2rem;
  position: absolute;
  font-size: var(--font-size);
  top: calc(var(--font-size) * (-1.2));
  color: var(--bc-detail);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  min-height: 200px;
  box-shadow: var(--shadow-regular);
  background: var(--gra-section);
  overflow: hidden;
  padding-left: calc(var(--space-lll) * 1.2);
}

.num {
  position: absolute;
  left: 0px;
  bottom: calc(-1 * var(--space-l));
  font-size: 12rem;
  opacity: 0.1;
  line-height: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.border {
  height: 1px;
  background-color: var(--bc-border);
}

.description {
  color: var(--bc-detail);
  padding-right: var(--space-m);
}

.subEventsContainer {
  grid-area: subEvents;
  margin-top: var(--space-ss);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-ss);
}
