.cotnainer {
  display: flex;
  margin-top: var(--space-lll);
}

.windowContainer {
  min-width: 70%;
}

.window {
  background-color: var(--bc-section);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: 30px;
  box-shadow: var(--shadow-big);
}

.map {
  width: 100%;
  min-height: 500px;
  border: none;
  border-radius: var(--space-ss);
  box-shadow: var(--shadow-regular);
}

.windowTextBox {
  font-size: 1.2rem;
  box-shadow: inset var(--shadow-regular);
  background: var(--gra-shadow);
  padding: var(--space-m);
  color: var(--bc-detail);
}

.callNumber {
  font-size: 2rem;
  color: var(--bc-primary);
}

.detailContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.imgBox {
  border: 1px solid var(--bc-border);
  min-height: 200px;
  margin-left: 30px;
}

.detailBorderContainer {
  position: relative;
}

.detailBorder {
  position: absolute;
  height: 1px;
  background-color: var(--bc-border);
  width: 100vw;
}

.detailText {
  padding-left: 30px;
  color: var(--bc-detail);
}
