.section {
  position: relative;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-lll);
  z-index: 2;
}

.imgWindowsContainer {
  display: flex;
  flex-direction: column;
}

.imgWindow {
  margin: calc(var(--space-ll) * -1) 0;
}

.imgWindow:nth-child(even) {
  position: relative;
  right: 50%;
  z-index: 3;
}

.windowContainer {
  width: 60%;
}

.window {
  background-color: var(--bc-section);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: 30px;
  box-shadow: var(--shadow-big);
  border: solid 1px var(--bc-grass);
  background: var(--gra-dark);
  border-radius: 0 0 var(--space-ss) var(--space-ss);
}

.map {
  width: 100%;
  min-height: 500px;
  border: none;
  border-radius: var(--space-ss);
  box-shadow: var(--shadow-regular);
}

/* .windowTextBox {
  font-size: 1.2rem;
  box-shadow: inset var(--shadow-regular);
  background: var(--gra-shadow);
  padding: var(--space-m);
  color: var(--bc-detail);
} */

.callNumber {
  font-size: 2rem;
  color: var(--bc-primary);
}

.detailContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: var(--space-l);
}

.imgBox {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "i4 i3 i1"
    "i5 i3 i1"
    "i2 i2 i1";
}

.detailBorderContainer {
  position: relative;
}

.detailBorder {
  position: absolute;
  height: 1px;
  right: 0;
  background-color: var(--bc-border);
  width: 100vw;
}

.detailText {
  position: relative;
  line-height: 2;
  z-index: 2;
}

.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px) opacity(0.5) brightness(0.8);
}

.windowTextBoxInfoContainer {
  font-size: 1.2rem;
  box-shadow: inset var(--shadow-regular);
  background: var(--gra-shadow);
  padding: var(--space-m);
  color: var(--bc-detail);
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    gap: var(--space-lll);
  }

  .windowContainer {
    width: auto;
  }

  .imgWindowsContainer {
    flex-direction: row;
    justify-content: center;
  }

  .imgWindow {
    margin: 0 calc(var(--space-ll) * -1);
  }

  .imgWindow:nth-child(even) {
    position: relative;
    right: 0%;
    top: var(--space-ll);
    z-index: 3;
  }
}

@media (max-width: 480px) {
  .imgWindowsContainer {
    display: none;
  }

  .window {
    padding: var(--space-s);
  }

  .detailText p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .windowTextBoxInfoContainer {
    padding: var(--space-s);
    font-size: 1rem;
  }
}
