.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  margin: var(--space-l) 0;
}

.borderPoint {
  position: relative;
  width: 1rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--bc-border);
  transform: translate(-50%, 0);
  border-radius: 100%;
}

.programBorder {
  left: 0;
  width: 1px;
  background-color: var(--bc-border);
}
