.container {
  position: relative;
  display: flex;
  line-height: 1;
  margin: var(--space-lll) 0 var(--space-m);
  white-space: nowrap;
}

/* .containerBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gra-primary);
  z-index: 3;
} */

.titleContainer {
  position: relative;
  color: var(--bc-text);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: var(--space-lll);
}

.titleContainer1 {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--bc-primary);
  height: 1rem;
  z-index: 2;
  color: var(--bc-background);
}

.subTitle {
  font-size: 1.5rem;
}

.title {
  font-size: 5rem;
}
