.container {
  display: flex;
  justify-content: center;
  gap: var(--space-ll);
  max-width: 1400px;
}

.numContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30%;
}

.num {
  font-size: 25rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--bc-primary);
}

.windowContainer {
  min-width: 650px;
  max-width: 55%;
  min-height: 500px;
  background: var(--bc-section);
  position: relative;
  box-shadow: var(--shadow-regular);
}

.eventsContainer {
  display: grid;
  --time-width: 200px;
  grid-template-columns: var(--time-width) 1fr;
  row-gap: 30px;
  column-gap: var(--space-m);
  padding: var(--space-m) 0 var(--space-lll) 0;
}

.eventTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: var(--space-m);
}

.eventTitleSet {
  background-color: var(--bc-primary);
  padding: var(--space-ss);
  padding-right: var(--space-m);
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
}

.bigEventDescription {
  border: solid 1px var(--bc-primary);
  border-right: none;
  border-left: none;
  padding: var(--space-m);
}

.timeBg {
  position: absolute;
  background-color: var(--bc-card2);
  width: var(--time-width);
  height: 100%;
  bottom: 0;
}

.eventTime {
  font-size: 1.2rem;
  z-index: 2;
  text-align: center;
}

.eventDetailContainer {
  border-left: solid 1px var(--bc-primary);
  padding-left: var(--space-m);
}

.eventTitleWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: var(--space-m);
  margin-bottom: var(--space-ss);
  border-bottom: 1px solid var(--bc-border);
}

.eventTitle {
  padding-bottom: var(--space-ss);
}

.applyTag {
  display: flex;
  align-items: center;
  gap: var(--space-ss);
  margin: var(--space-ss);
  padding: var(--space-ss) var(--space-m);
  border-radius: 500px;
  font-size: 0.8rem;
  color: var(--bc-background);
  background-color: var(--bc-primary);
}

.eventDescription {
  color: var(--bc-detail);
  padding-right: var(--space-m);
}

.windowFooter {
  position: absolute;
  height: 2rem;
  width: 100%;
  bottom: 0;
  background-color: var(--bc-primary);
  z-index: 2;
}
