.containerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--space-ll) 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: var(--space-ll);
  max-width: 1600px;
  margin: var(--space-ll) 0;
  overflow-x: hidden;
}

.containerBackWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--bc-primary-trans);
  transform: skewY(3deg);
}

.containerBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: var(--bc-section);
  box-shadow: var(--shadow-big);
}

.numContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30%;
  z-index: 10;

  border-radius: var(--space-ss);
}

.num {
  font-size: 25rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--bc-primary);
}

.windowContainer {
  min-width: 650px;
  max-width: 55%;
  /* min-height: 500px; */
  background: var(--gra-section);
  position: relative;
  box-shadow: var(--shadow-regular);
}

.eventsContainer {
  display: grid;
  --time-width: 200px;
  grid-template-columns: var(--time-width) 1fr;
  row-gap: 30px;
  column-gap: var(--space-m);
  padding: var(--space-m) 0 var(--space-lll) 0;
}

.eventTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.eventTitleSet {
  background-color: var(--bc-primary);
  padding: var(--space-ss);
  padding-right: var(--space-m);
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
}

.bigEventDescription {
  border: solid 1px var(--bc-primary);
  border-right: none;
  border-left: none;
  padding: var(--space-m);
}

.imgContainerL,
.imgContainerR {
  position: absolute;
  --diff: calc(var(--space-lll) * -1);
  top: var(--diff);
}

.imgContainerR {
  right: var(--diff);
}

.imgContainerL {
  left: var(--diff);
}

.img2 {
  position: absolute;
  top: 50%;
}

.imgContainerL .img2 {
  left: -50%;
}

.imgContainerR .img2 {
  right: -50%;
}

.timeBg {
  position: absolute;
  background-color: var(--bc-card2);
  width: var(--time-width);
  height: 100%;
  bottom: 0;
}

.eventTime {
  font-size: 1.2rem;
  z-index: 2;
  text-align: center;
}

.eventDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-ss);
  border-left: solid 1px var(--bc-primary);
  padding-left: var(--space-m);
}

.eventTitleWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: var(--space-m);
}

.eventTitle {
  padding-bottom: var(--space-ss);
}

.eventTitleBorder {
  height: 1px;
  background-color: var(--bc-border);
}

.applyTag {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin: var(--space-ss);
  padding: var(--space-ss) var(--space-m);
  border-radius: 500px;
  font-size: 0.8rem;
  color: var(--bc-background);
  background: var(--gra-primary);
  box-shadow: var(--shadow-regular);
}

.applyText {
  display: flex;
  align-items: center;
  gap: var(--space-ss);
}

.applyTagArrow {
  position: relative;
  left: 0;
  transition: left 0.3s;
}

.applyTag:hover .applyTagArrow {
  left: var(--space-ss);
}

.eventDescription {
  color: var(--bc-detail);
  padding-right: var(--space-m);
}

.windowFooter {
  position: absolute;
  height: 2rem;
  width: 100%;
  bottom: 0;
  background-color: var(--bc-primary);
  z-index: 2;
}

@media (max-width: 1440px) {
  .numContainer {
    padding: var(--space-s);
    backdrop-filter: blur(5px) brightness(0.8);
    border: solid 1px var(--bc-grass);
    box-shadow: var(--shadow-big);
  }

  .eventsContainer {
    --time-width: 100px;
  }

  .eventTime {
    font-size: 1rem;
  }
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column !important;
    align-items: stretch;
    gap: var(--space-m);
    padding: var(--space-l);
  }

  .numContainer {
    flex-direction: row;
    max-width: none;
    gap: var(--space-m);
    padding: var(--space-m);
  }

  .num {
    font-size: 5rem;
  }

  .windowContainer {
    max-width: none;
    min-width: 0;
  }
}

@media (max-width: 720px) {
  .container {
    padding: var(--space-m);
  }

  .eventTime {
    display: none;
  }

  .timeBg {
    display: none;
  }

  .eventsContainer {
    display: flex;
    flex-direction: column;
    padding-left: var(--space-m);
  }
}

@media (max-width: 480px) {
  .numContainer {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: var(--space-ss);

    backdrop-filter: none;
    border: none;
    box-shadow: none;
  }

  .num {
    font-size: 10rem;
  }

  .bigEventDescription {
    padding: var(--space-ss);
    font-size: 1rem;
  }

  .windowContainer {
    min-width: 0;
    width: 100%;
  }

  .imgContainerL,
  .imgContainerR {
    display: none;
  }

  .eventsContainer {
    padding: var(--space-l) var(--space-s) var(--space-ll);
  }

  .eventTitleWrapper {
    flex-direction: column-reverse;
    align-items: start;
    padding: 0;
  }

  .eventDetailContainer {
    padding-left: var(--space-s);
  }

  .applyTag {
    margin: 0;
    align-self: flex-end;
  }
}
