.section {
  padding: var(--space-ll) 0;
  background-color: var(--bc-section);
  overflow-x: hidden;
}

.grid {
  background-image: var(--grid-image);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-out);
}

@media (max-width: 900px) {
  .section {
    padding: var(--space-l) 0;
  }
}

@media (max-width: 480px) {
  .section {
    padding: var(--space-m) 0;
  }
}
