.container {
  position: relative;
  display: flex;
  align-items: end;
  margin-top: var(--space-lll);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  width: 60%;
}

.catchText {
  font-size: 2.5rem;
}

.catchTextBig {
  font-size: 2.8rem;
}

.saikyou {
  color: var(--bc-primary);
}

.textBorder {
  height: 1px;
  width: 100vw;
  align-self: end;
  background-color: var(--bc-border);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  font-size: 1.3rem;
  padding-right: var(--space-m);
  color: var(--bc-detail);
  margin: var(--space-m) 0;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-m);
  padding-right: var(--space-m);
}

.imgContainer {
  position: relative;
  flex: 1;
  align-self: stretch;
  justify-self: start;
  width: 100vw;
}

.imgContent {
  position: absolute;
  display: grid;
  /* border: solid 1px var(--bc-border); */
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  grid-template-areas:
    "i1 i1 i1"
    "i1 i1 i1"
    "i2 i3 i4";
  box-shadow: var(--shadow-regular);
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
