* {
  margin: 0;
  padding: 0;
}

:root {
  --bc-background: #464646;
  --bc-text: #ffffff;
  --bc-primary: #3ae5ff;
  --bc-primary-trans: rgba(58, 229, 255, 0.2);
  --bc-detail: #c3c3c3;
  --bc-card: #939393;
  --bc-card2: #727272;
  --bc-section: #5c5c5c;
  --bc-border: #ffffff40;
  --bc-grass: rgba(255, 255, 255, 0.1);
  --bc-shadow: rgba(0, 0, 0, 0.2);

  --gra-shadow: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  --gra-dark: linear-gradient(
    135deg,
    rgb(64, 64, 64) 0%,
    var(--bc-background) 100%
  );
  --gra-section: linear-gradient(
    135deg,
    var(--bc-shadow) 0%,
    var(--bc-section) 100%
  );
  --gra-primary: linear-gradient(135deg, var(--bc-primary) 0%, #4a90e2 100%);
  --gra-grass: linear-gradient(135deg, transparent 0%, var(--bc-grass) 100%);

  --shadow-regular: 3px 3px 3px var(--bc-shadow);
  --shadow-bottom: 0px 3px 3px var(--bc-shadow);
  --shadow-center: 0px 0px 10px var(--bc-shadow);
  --shadow-big: 0 4px 20px var(--bc-shadow);

  --max-width: 1200px;
  --space-out: 50px; /* 外側のスペース */

  --space-ss: 5px;
  --space-s: 10px;
  --space-m: 20px;
  --space-l: 40px;
  --space-ll: 50px;
  --space-lll: 100px;
}

body {
  background-color: var(--bc-background);
  color: var(--bc-text);
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.zen {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.big-s {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
