* {
  margin: 0;
  padding: 0;
}

:root {
  --bc-background: #464646;
  --bc-text: #ffffff;
  --bc-primary: #3ae5ff;
  --bc-detail: #e0e0e0;
  --bc-card: #939393;
  --bc-section: #5c5c5c;
  --bc-border: #ffffff40;
  --bc-shadow: rgba(0, 0, 0, 0.2);

  --shadow-regular: 3px 3px 3px var(--bc-shadow);
  --shadow-bottom: 0px 3px 3px var(--bc-shadow);

  --max-width: 1200px;
  --padding-out: 50px; /* 外側のパディング */
}

body {
  background-color: var(--bc-background);
  color: var(--bc-text);
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.big-s {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
