.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bc-section);
  box-shadow: var(--shadow-regular);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 10px var(--space-out);
}

.navList {
  list-style: none;
  display: flex;
  gap: var(--space-m);
}
